// Fichier de configuration WiFi
// Renommez ce fichier en "arduino_secrets.h" et remplissez vos identifiants

#define SECRET_SSID "VotreNomDeReseauWiFi"
#define SECRET_PASS "VotreMotDePasseWiFi"

// Autres secrets si nécessaires
// #define MQTT_USERNAME "utilisateur_mqtt"
// #define MQTT_PASSWORD "mot_de_passe_mqtt"
